## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

- Boolean Variables: True, False

In [1]:
False

False

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [55]:
my_str='Sanketgadekar31'

In [56]:
my_str.istitle()

True

In [60]:
print(my_str.isalnum())         #check if all char are alphanumeric
print(my_str.isalpha())         #check if all char in the string are alphabetic
print(my_str.isdigit())         #test if string contains digits
print(my_str.istitle())         #test if string contains title words
print(my_str.isupper())         #test if string contains upper case
print(my_str.islower())         #test if string contains lower case
print(my_str.isspace())         #test if string contains spaces
print(my_str.endswith('k'))     #test if string endswith a d
print(my_str.startswith('K'))   #test if string startswith H

True
False
False
True
False
False
False
False
False

- Boolean and Logical Operators

In [61]:
True and True

True

In [62]:
True and False

False

In [63]:
True or False

True

In [64]:
True or True

True

In [68]:
str_example='Hello World'
my_str='Sanket'

In [70]:
str_example.isalnum()

False

In [71]:
my_str.isalpha() or str_example.isalnum()

True

- LISTS: A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [72]:
type([])

list

In [73]:
lst_example=[]

In [74]:
type(lst_example)

list

In [75]:
lst=list()

In [76]:
type(lst)

list

In [78]:
lst=['Math', 'chemistry', 100, 200, 300, 204]

In [79]:
len(lst)

6

In [80]:
type(lst)

list

- Append operation

In [81]:
#.append is used to add elements in the list
lst.append("Sanket")

In [82]:
lst.append(["Atharv","Yash"])

In [83]:
lst

['Math', 'chemistry', 100, 200, 300, 204, 'Sanket', ['Atharv', 'Yash']]

In [84]:
##Indexing in List
lst[6]

'Sanket'

In [85]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

- Insert operation

In [86]:
## insert in a specific order

lst.insert(2,"Gadekar")

In [87]:
lst

['Math',
 'chemistry',
 'Gadekar',
 100,
 200,
 300,
 204,
 'Sanket',
 ['Atharv', 'Yash']]

In [88]:
lst.append(["Hello","World"])

In [89]:
lst

['Math',
 'chemistry',
 'Gadekar',
 100,
 200,
 300,
 204,
 'Sanket',
 ['Atharv', 'Yash'],
 ['Hello', 'World']]

In [90]:
lst=[1,2,3]

In [91]:
lst.append([4,5])

In [92]:
lst

[1, 2, 3, [4, 5]]

- Extend Method: Add element at last by default

In [96]:
lst=[1,2,3,4,5,6]

In [97]:
lst.extend([8,9])

In [98]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

- Other Operations that we can perform in List

In [116]:
lst=[1,2,3,4,5]

In [117]:
sum(lst)

15

In [118]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

- Pop() Method

In [119]:
lst.pop() # By defalut will pop last element

5

In [120]:
lst

[1, 2, 3, 4]

In [121]:
lst.pop(0) # 0 index element will be removed

1

In [122]:
lst

[2, 3, 4]

- count(): Calculates total occurrence of given element of List

In [123]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [124]:
# length: Returns total length of List
len(lst)

6

In [125]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [126]:
##Min and Max
min(lst)

1

In [127]:
max(lst)

5

- SETS : A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. This is based on a data structure known as a hash table

In [128]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [129]:
set_var={1,2,3,4,3}

In [130]:
set_var

{1, 2, 3, 4}

In [131]:
set_var={"Avengers","Hanuman",'Ram'}
print(set_var)
type(set_var)

{'Avengers', 'Hanuman', 'Ram'}

set

In [132]:
## Inbuilt function in sets

set_var.add("IronMan")

In [133]:
print(set_var)

{'IronMan', 'Avengers', 'Hanuman', 'Ram'}

In [148]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Ram'}

In [142]:
set2.intersection_update(set1)

In [143]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [149]:
##Difference 
set2.difference(set1)

{'Ram'}

In [150]:
set2

{'Avengers', 'Hitman', 'IronMan', 'Ram'}

In [146]:
## Difference update

set2.difference_update(set1)

In [147]:
print(set2)

set()

- DICTIONARIES: A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [171]:
dic={}  # written in {} braces

In [172]:
type(dic)

dict

In [173]:
type(dict())

dict

In [174]:
set_ex={1,2,3,4,5}

In [175]:
type(set_ex)

set

In [176]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Benz"}

In [177]:
type(my_dict)

dict

In [178]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [179]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [180]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Benz

In [181]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Benz')

In [182]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [183]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Benz', 'car4': 'Audi 2.0'}

In [184]:
my_dict['Car1']='Maruti'

In [185]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Benz', 'car4': 'Audi 2.0'}

- Nested Dictionary

In [186]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [187]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [188]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [189]:
print(car_type['car1']['Mercedes'])

1960

- Tuples

In [209]:
## create an empty Tuples

my_tuple=tuple()    # represents in () brackets

In [210]:
type(my_tuple)

tuple

In [211]:
my_tuple=()

In [212]:
type(my_tuple)

tuple

In [213]:
my_tuple=("Sanket","Aniket","Atharv")

In [208]:
my_tuple=('Hello','World')

In [214]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Sanket', 'Aniket', 'Atharv')

In [215]:
type(my_tuple)

tuple

In [216]:
## Inbuilt function
my_tuple.count('Sanket')

1

In [217]:
my_tuple.index('Sanket')

0